.calendarPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.calendarContainer {
    background-color: white;
    border: 4px solid orange;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .3fr 1fr 1fr 1fr 1fr 1fr;
    height: 65vh;
    width: 65vw;
}

.calendarDays {
    border: 1px solid gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}


.daysOfWeek {
    background-color: lightblue;
    grid-column: 1/8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.daysOfWeek > * {
    display: flex;
    justify-content: center;
    align-items: center;

}

