.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: -1;
  background-color: rgba(221, 255, 237, 1);
}

#homePageContainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  /* background-color: rgba(221, 255, 237, 1); */
  color: rgba(254, 62, 68, 1);
  overflow: hidden;
}

#homePageContainer > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#loginLinkWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#loginLink, #backToHomeLink {
  color:rgba(254, 62, 68, 1);
  font-size: 25px;
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
}

#loginLink:hover, #backToHomeLink:hover {
  background-color: white;
}

#title {
  color: rgba(254, 62, 68, 1);
  grid-row: 4/6;
  font-size: 75px;
}

#tagline {
  position: relative;
  color: rgba(254, 62, 68, 1);
  grid-row: 6/7;
  box-sizing: content-box;
  height: 30px;
  font-size: 30px;
  border-radius: 8px;
  padding: 0;
  margin: 0;
  z-index: 1;
}

#carouselContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  overflow: hidden;
  font-size: smaller;
}

#carousel {
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: larger;
}

span {
  display: block;
  height: 100%;
  padding-left: 10px;
  animation: spin_carousel 6s infinite;
  color: rgba(254, 62, 68, 1);
  z-index: -1;
}

@keyframes spin_carousel{
  0% {
      transform: translateY(200%);
      color: orange;
  }
  10%{
      transform: translateY(112%);
      
  }
  25%{
      transform: translateY(100%);
      color: gold;
  }
  35%{
      transform: translateY(-12%);
      
  }
  50%{
      transform: translateY(0%);
      color: lightgreen;
  }
  60%{
      transform: translateY(-112%);
      
  }
  75%{
      transform: translateY(-100%);
      color: gold;
  }
  85%{
      transform: translateY(-212%);
      
  }
  100%{
      transform: translateY(-200%);
      color: orange;
  }
}


#dotsAnimationWrapper {
  width: 100%;
  grid-row: 9/11;
}

#heart {
  position: relative;
  width: 100px;
  height: 90px;
  z-index: 1;
  background-color: transparent;
  animation: expand_heart 3.25s 3s linear;
}

#heart::before, #heart::after {
  content: "";
  position: absolute;
  width: 52px;
  top: -10vh;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background-color: rgba(254, 62, 68, 1);
}

@keyframes expand_heart {
  0% {
      transform: scaleX(1);
  }
  25%, 50%, 75% {
      transform: scaleX(1.3);
  }
  100% {
      transform: scaleX(1);
  } 
}

#heart::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.dot {
  display: flex;
  position: absolute;
  width: 100px; 
  height: 90px;
  border-radius: 50%;
  top: 80vh;
  animation: bounce 3s linear, flatten 3s linear;
}

#dot2 {
  animation-delay: 1s;
}

#dot3 {
  animation-delay: 1.25s;
}

#dot4 {
  animation-delay: 1.75s;
}

#dot5 {
  animation-delay: 2.5s;
}

@keyframes bounce {
  0% {
      top: 85vh;
      left: 0vh;
      height: 30px;
      width: 30px;
      background-color: rgba(254, 62, 68, 1);
  }
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%{
      top: 80vh;
      animation-timing-function: ease-out;
      height: 30px;
      width: 30px;
      background-color: rgba(254, 62, 68, 1);
  }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95%{
      top: 70vh;
      animation-timing-function: ease-in;
      height: 30px;
      width: 30px;
      background-color: rgba(254, 62, 68, 1);
  }
  100% {
      top: 80vh;
      left: 50vw;
      height: 30px;
      width: 30px;
  }
}

@keyframes flatten {
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
      height: 27px;
      border-radius: 50px 50px 40px 40px;
      transform: scaleX(1.6);
  }
  11%, 21%, 31%, 41%, 51%, 61%, 71%, 81%, 91% {
      height: 30px;
      border-radius: 50%;
      transform: scaleX(1)
  }
}

.pageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#authPageContainer {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#loginComponentsWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.componentTitle {
  color: rgba(254, 62, 68, 1);
  font-size: 25px;
}

.auth-form-container {
  background-color: white;
  filter: drop-shadow(0 0 7px gray);
  border-radius: 3px;
  padding: 10px;
  height: 275px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr;
}

.auth-form-container > div:first-child {
  grid-row: 1/2;
}

.auth-form-container > form {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5, 1fr;
  align-items: end;
}

.auth-form-container > form > button {
  grid-row: 5/6;
}

.navContainer {
  background-color: white;
  width: 100vw;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a.active {
  background-color:  rgba(221, 255, 237, 1);
  border-radius: 35px 35px 0 0;
}

.navLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgba(254, 62, 68, 1);
  filter: drop-shadow(0 0 7px white);
  font-weight: bolder;
  font-size: 30px;
  padding-left: 10px;
}

.navLogout, .navLinks, .welcomeUser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navLogout {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding-right: 20px;
}

#navCommitmentsLink, #navPeopleLink, #navCalendarLink, #navLogoutLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
}

.welcomeUser {
  color: orange;
}

#navCommitmentsLink {
  color:gold;
}

#navPeopleLink {
  color:lightgreen;
}

#navCalendarLink, #navLogoutLink {
  color: lightskyblue;
}


#navLogoutLink {
  color: rgba(254, 62, 68, 1);
}

#navCommitmentsLink:hover, #navPeopleLink:hover, #navCalendarLink:hover, #navLogoutLink:hover {
  background-color:  rgba(221, 255, 237, 1);
  border-radius: 35px 35px 0 0;
  text-decoration: underline;
}

/* commitments list page */

.listComponentsContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: start;
  z-index: 0;
}

.listComponentWrapper {
  background-color: white;
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr 10fr 1fr;
  filter: drop-shadow(0 0 5px lightgray);
  border-radius: 3px;
  z-index: -1;
  padding: 5%;
  overflow: hidden;
  margin: 10% 0 0 0;
}

.cardTitle {
  grid-row: 1/2;
  font-weight: bolder ;
  color: rgba(254, 62, 68, 1);
  font-size: 20px;
  padding-bottom: 10px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid lightgray;
}

div.listComponentDetails {
  grid-row: 2/3;
}

div.labelDivContainer {
  display: flex;
  flex-direction: column;
  margin: 5px 0 5px 0;
}

div.labelDivContainer > label {
  color:orange;
}

a.commitmentDetailsLink {
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 100%;
  color: white;
  background-color: rgba(254, 62, 68, 1); 
  border: 2px solid  rgb(252, 167, 169);
  border-radius: 25px;
  text-decoration: none;
}

a.commitmentDetailsLink:hover {
  color: rgba(254, 62, 68, 1);
  background-color: white;
  border: 2px solid  rgba(254, 62, 68, 1);
  border-radius: 25px;
  text-decoration: none;
}

/* add new item */

.addComponentWrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  height: 345px;
  width: 345px;
  filter: drop-shadow(0 0 5px lightgray);
  border-radius: 3px;
  z-index: 10;
  margin: 10% 0 0 0;
}

div.inactive {
  overflow: hidden;
  height: 0px;
  width: 0px;
  color: white;
  border-radius: 25px;
  z-index: 10;
}

.toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 50px;
}

.toggleButton:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 50px;
  color: rgba(254, 62, 68, 1);
  background-color: white; 
  border: 2px solid rgba(254, 62, 68, 1);
  border-radius: 25px;
}

div.active {
  background-color: white;
  color: white;
  overflow: visible;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .1fr .5fr 10fr;
  align-items: center;
  justify-items: center;
  filter: drop-shadow(0 0 5px lightgray);
  border-radius: 3px;
  position: relative;
  top: 120px;
  left: 440px;
  height: 190%;
  z-index: 10;
}

div.exit {
  grid-row: 1/2;
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgb(223, 53, 59);
  font-size: 30px;
  font-weight: bolder;
}

div.exit:hover {
  color: pink;
}

div.active > h2 {
  color: rgb(223, 53, 59);
  grid-row: 2/3;
  width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addNewItemForm {
  grid-row: 3/4;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 7, 1fr;
  width: 100%;
  height: 100%;
  z-index: 100;
  color: rgb(223, 53, 59);
}

/* details page */

.detailsPageWrapper {
  background-color: rgba(221, 255, 237, 1);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: start;
  padding-top: 3%;
  z-index: 0;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 75%;
  height: 75%;
  filter: drop-shadow(0 0 5px lightgray);
  border-radius: 3px;
}

div.pageTitle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: bolder;
  font-size: 20px;
  color:rgba(254, 62, 68, 1);
  border-bottom: 1px solid rgba(254, 62, 68, 1);
  width: 75%;
  padding-bottom: 20px;
  margin: 40px 0 20px 0;
}

.details {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: start;
  margin: 20px 20px 20px 20px;
  /* padding-top: 10px; */
}

.labelContentDivs > label {
  color: orange;
  padding-bottom: 10px;
}

.labelContentDivs {
  padding-bottom: 20px;
}

button {
  margin: 0px 20px 20px 20px;
  height: 25px;
  width: 100%;
  color: white;
  background-color: rgba(254, 62, 68, 1);
  border: 2px solid  rgb(252, 167, 169);
  border-radius: 25px;
}

button:hover {
  margin: 0px 20px 20px 20px;
  width: 100%;
  color: rgba(254, 62, 68, 1);
  background-color: white; 
  border: 2px solid rgba(254, 62, 68, 1);
  border-radius: 25px;
}

.btnsWrapper {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 75%;
  height: 75%;
  filter: drop-shadow(0 0 5px lightgray);
  border-radius: 3px;
}

.editComponentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 100px;
}

.editItemForm {
  grid-row: 3/4;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 7, 1fr;
  width: 100%;
  height: 80%;
  color: rgb(223, 53, 59);
}

.formInputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 300px;
  display: flex;
}

select {
  width: 306px;
}

textarea {
  width: 302px;
}
